user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections 768;
        multi_accept on;
}

http {

        ##
        # Basic Settings
        ##
		sendfile                        on;
		tcp_nopush                      on;
		tcp_nodelay                     on;
		client_header_timeout           1m;
		client_body_timeout             1m;
		client_header_buffer_size       {{ client_header_buffer_size }};
		client_body_buffer_size         {{ client_body_buffer_size }};
		client_max_body_size            {{ client_body_buffer_size }};
		large_client_header_buffers     4   8k;
		send_timeout                    {{ send_timeout }};
		keepalive_timeout               60 60;
		reset_timedout_connection       on;
		server_tokens                   off;
		server_name_in_redirect         off;
		server_names_hash_max_size      512;
		server_names_hash_bucket_size   512;

        ##
        # SSL Settings
        ##

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;

        ##
        # Logging Settings
        ##

		# Log format
		log_format  main_ext  '$remote_addr - $remote_user [$time_local] "$request" '
							  '$status $body_bytes_sent "$http_referer" '
							  '"$http_user_agent" "$http_x_forwarded_for" '
							  '"$host" sn="$server_name" '
							  'rt=$request_time '
							  'ua="$upstream_addr" us="$upstream_status" '
							  'ut="$upstream_response_time" ul="$upstream_response_length" '
							  'cs=$upstream_cache_status' ;

		access_log  /var/log/nginx/access.log  main_ext;

        ##
        # Gzip Settings
        ##

		gzip                on;
		gzip_comp_level     9;
		gzip_min_length     512;
		gzip_buffers        8 64k;
		gzip_types          text/plain text/css text/javascript text/js text/xml application/json application/javascript application/x-javascript application/xml application/xml+rss application/x-font-ttf image/svg+xml font/opentype;
		gzip_proxied        any;
		gzip_disable        "MSIE [1-6]\.";
		
		# File cache settings
		open_file_cache          max={{ open_file_cache_max }} inactive={{ open_file_cache_inactive }};
		open_file_cache_valid    {{ open_file_cache_valid }};
		open_file_cache_min_uses 2;
		open_file_cache_errors   off;

		include             /etc/nginx/mime.types;
		default_type        application/octet-stream;

        ##
        # Virtual Host Configs
        ##

        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;
}

